<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/users.css" rel="stylesheet"> <!-- Ajoutez un fichier CSS pour les styles personnalisés -->
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-4">
        <h1 class="mb-4">Registered Users</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <span th:each="role : ${user.roles}" th:text="${role.name}">ROLE</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TI3CsC3eF9D38CL6N/JJz1HtI8HAkDq07A4KoU95L7XeRei9PWhR" crossorigin="anonymous"></script>
</body>
</html>
